@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Miniver&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Permanent+Marker&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}
@custom-variant dark (&:where(.dark, .dark *))
@theme{
  --color-primary: #5044E5;
}